{% extends 'base.html.twig' %}

{% block title %}MONTOUTOU - Mon compte
{% endblock %}

{% block body %}
	<img src="{{ asset('build/images/puppies.jpg') }}" class="puppies rounded mx-auto d-block m-4" alt="groupe de chien">
	<h2 class="text-center">Mes animaux</h2>

	{% for animal in animals %}
		{{ animal.name }}
		<p>alllllllllllllllllllllllllllllllllllllllllllllll</p>
	{% endfor %}

	<div class="row">
		<a href="{{ path('hector') }}" class="animal-card m-3 col-3">
			<div>
				<img src="{{ asset('build/images/curious-pug.jpg') }}" class="animal-img rounded-circle  d-block " alt=" chien">
				<p class="h2">Hector</p>
			</div>
		</a>

		<a href="{{ path('jade') }}" class="animal-card m-3 col-3">
			<div>
				<img src="{{ asset('build/images/spy-cat.jpg') }}" class="animal-img rounded-circle  d-block " alt="petit chat">
				<p class="h2">Jade</p>
			</div>
		</a>
	</div>
{% endblock %}
