{% extends 'base2.html.twig' %}

{% block title %}MONTOUTOU - Espace veto
{% endblock %}

{% block body %}
	<div class="h3">Quoi de neuf, Docteur?</div>

	<h2 class="m-5">Liste des animaux suivis</h2>
	

	<table class="table table-hover table-striped">
		<tr>
            <td>Type d'animal</td>
			<td>Nom</td>
			<td>Race</td>
            <td>Date de Naissance</td>
			<td>Carnet de santé</td>
		</tr>
		{% for animal in animals %}
			<tr>
                <td>{{ animal.type }}</td>
				<td>{{ animal.name }}</td>
				<td>{{ animal.race }}</td>
                <td>{{ animal.birthday|date('d-m-Y') }}</td>
				<td><a href="{{ path('resume') }}">-></a></td>
			</tr>
		{% endfor %}
	</table>

    <div class="add">
        <a href="{{ path('new_animal') }}">
            <button>Nouvel Entrée</button>
        </a>
    </div>
{% endblock %}
